:root {
  --border: 1px black solid;
}

#newboard-modal {
  display: none;
  flex-direction: column;
}

#newboard-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#newgame-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 960px) {
  #newgame-container {
    flex-direction: column;
  }
}

#newship-holder {
  margin: 5rem;
  display: flex;
  width: 10rem;
  max-width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.ship-holder-div {
  width: auto;
  display: flex;
  flex-direction: row;
  border-top: var(--border);
  margin: 5px;
}

.inner-box {
  aspect-ratio: 1/1;
  max-width: 1.5rem;
  flex: 0 1 100px;
  background-color: #18abe6;
  border: var(--border);
}

#confirm-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-button {
  border: var(--border);
  padding: 1rem 2rem;
  margin: 1.5rem 1rem 0rem 1rem;
  border-radius: 1.5rem;
  transition: box-shadow 200ms;
  background-color: #17e698;
}

.modal-button:hover {
  box-shadow: 0 0 0.75rem rgba(33, 33, 33, 0.8);
}
