#newboard-modal {
  display: none;
  flex-direction: column;
}

#newboard-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#newgame-container {
  display: flex;
  flex-direction: row;
}

#newship-holder {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
