#content {
  max-width: 60rem;
  height: auto;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #18abe6;
}

#player-div {
  flex: 1;
}

#opp-div {
  flex: 1;
}

.board-identifier {
  margin: 2rem 5rem 0rem 5rem;
  font-size: 2rem;
  color: #e0fcf4;
}

@media all and (max-width: 960px) {
  #content {
    flex-direction: column;
  }
}
