#content {
  width: 66rem;
  height: auto;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#player-div {
  flex: 1;
}

#opp-div {
  flex: 1;
}

.board-identifier {
  margin: 2rem 5rem 0rem 5rem;
  font-size: 2rem;
  color: #e0fcf4;
}
