#new-game {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18abe6;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  background-color: #e0fcf4;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 80%;
}

#restart-title {
  display: flex;
  justify-content: center;
}

#restart-buttons-wrapper {
  display: flex;
  justify-content: center;
}

.restart-button {
  border: 1px solid black;
  padding: 1rem 2rem;
  margin: 1.5rem 1rem 0rem 1rem;
  border-radius: 1.5rem;
  transition: box-shadow 200ms;
}

.restart-button:hover {
  box-shadow: 0 0 0.75rem rgba(33, 33, 33, 0.8);
}

#newboard-modal {
  display: none;
  flex-direction: column;
}

#newboard-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#newgame-gameboard {
  display: flex;
  flex-direction: row;
}

#new-game-btn {
  margin: 2rem;
  padding: 0.5rem 1rem;
  border: 0.1rem black solid;
  border-radius: 1rem;
  background-color: #17e698;
  transition: box-shadow 200ms;
}

#new-game-btn:hover {
  box-shadow: 0 0 0.75rem rgba(33, 33, 33, 0.8);
}
