#newship-holder {
  margin: 5rem;
  display: flex;
  width: 10rem;
  max-width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.ship-text {
  color: blue;
}

.ship-holder-div {
  width: auto;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.inner-box {
  aspect-ratio: 1/1;
  max-width: 1.5rem;
  flex: 0 1 100px;
  margin: -1px 0 0 -1px;
  border: var(--border);
}

#confirm-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.picked-square {
  background-color: white;
  background-clip: padding-box;
  overflow: hidden;
  /* background-clip: content-box; */
}

#Carrier > .ship-holder-div > .inner-box {
  background-color: red;
}

#Battleship > .ship-holder-div > .inner-box {
  background-color: green;
}

#Destroyer > .ship-holder-div > .inner-box {
  background-color: blue;
}

[id="Patrol Boat"] > .ship-holder-div > .inner-box {
  background-color: yellow;
}

#Submarine > .ship-holder-div > .inner-box {
  background-color: lime;
}
