.boardContainer {
  min-width: 300px;
  min-height: 300px;
  margin: 3rem 5rem 5rem 5rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1px;
  border: 0.5px solid black;
  background-color: black;
}

.square-blink,
.square-solid {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #18abe6;
}

@keyframes colour_change {
  from {
    background-color: #18abe6;
  }
  to {
    background-color: #fffdd0;
  }
}

.square-blink:hover {
  animation: colour_change 400ms infinite alternate;
}
